<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="timetable.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="heading-container">
        <h1>Create your TimeTable:</h1>
      </div>
      <div class="inner-container">
        <div class="left-container weeks-container">
          <ul class="weeks-list">
            <div class="commonday mon">
              <li class="monday" value="monday">Monday</li>
            </div>
            <div class="commonday tus">
              <li class="tuesday" value="tuesday">Tuesday</li>
            </div>
            <div class="commonday wed">
              <li class="wednesday" value="wednesday">Wednesday</li>
            </div>
            <div class="commonday thus">
              <li class="thursday" value="thursday">Thursday</li>
            </div>
            <div class="commonday fri">
              <li class="friday" value="friday">Friday</li>
            </div>
            <div class="commonday sat">
              <li class="saturday" value="saturday">Saturday</li>
            </div>
          </ul>
        </div>
        <div class="right-container wokingspace-container">
          Enter your subjects for 'Dynamic content'
        </div>
      </div>
    </div>
  </body>
</html>
