body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  /* background-color: #1f2029; */
  background-image: url("ml.png");
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  /* width: 50%;
  height: 70%; */

  border: 2px solid red;
  height: 100vh; /* Ensure parent has height */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showInfo {
  height: 20%;
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.subjects {
  /* display: flex;
  height: 50%;
  border: 2px solid white;
  justify-content: center; */

  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
  height: 50%; /* 50% of .container */
  width: 80%; /* Adjust width as needed */
  border: 2px solid white;
  justify-content: flex-start; /* Prevent full-height stretching */
  align-items: center;
  padding: 10px;
  overflow-y: auto; /* Prevent overflow */
}
.subjects button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: red;
}

.nxtprv {
  display: flex;
  border: 2px solid green;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
}
.save {
  display: flex;
  border: 2px solid yellow;
  justify-content: center;
  width: 80%;
  padding-top: 6%;
  padding-bottom: 5%;
}
